[Desktop Entry]
_Name=What3Words Resolver
Exec=qmlscene %U what3words-resolver/Main.qml
Icon=what3words-resolver/icons/what3words-resolver.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

